<!DOCTYPE html>
<html>
<head>
    <title>Participant Details</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <h1 class="mt-5">Participant details</h1>

    <form th:action="@{'/addParticipant/' + ${idEvent}}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="tel" class="form-control" id="phone" name="phone">
        </div>

        <button type="submit" class="btn btn-primary">Add Participant</button>
    </form>
</div>
</body>


<div class="container text-center fixed-bottom mb-5">
    <a class="btn btn-primary" onclick="goBack()">Back</a>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>
